body {
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}
.artciles-big-container {
    display: inline-flex;
    width: 80%;
    height: 100vh;
    
}
.article-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
p {
    margin: 3px 0;
}
.cart-container {
    display: inline-flex;
    width: 19%;
    height: 100vh;
    border-left: 1% solid black;
}
button {
    background-color: rgb(62, 133, 199);
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-left: 0;
}

.image_card{
    max-width: 35px;
    max-height: 35px;
}
